<div class="search_top_form">
		
				<ul class="alphabetSearch">
	
				{foreach $letters as $key=>$value}
					<li>
					{if $value == 1}
						<a class="activeLetter" href='?letter={$key}'>
							{$key}
						</a>
					{else}
						{$key}
					{/if}
					</li>
				{foreachelse}
				{/foreach}

					<li>
				
					</li>
				</ul>

		</div>