			
			
				<form class="search_top_form" action='/{$WEBPATH}search' method='POST'>
					<div class="welcomeSearch hidden-phone">...search for choice and value for money</div>
					
						<ul>
							<li>
								<input type="text" value="{$keyword}" name='keyword' placeholder="Keyword...">
							</li>
							<li>
								<select name="type">
									<option value="business" {if $active=='business'}SELECTED=SELECTED{/if}>Business</option>
									<option value="events" {if $active=='events'}SELECTED=SELECTED{/if}>Events</option>
									<option value="classifieds" {if $active=='classifieds'}SELECTED=SELECTED{/if}>Classifieds</option>
									<option value="deals" {if $active=='deals'}SELECTED=SELECTED{/if}>Deals</option>
									<option value="articles" {if $active=='articles'}SELECTED=SELECTED{/if}>Articles</option>
									<option value="blog" {if $active=='blog'}SELECTED=SELECTED{/if}>Blog</option>
								</select>
							</li>
						
							<li>
								<button class="moreButton findButton"><i class="icon-search icon-white"></i> Search </button>
							</li>
						</ul>
					</form>

			

			