  <?php 

  /*

  Slider from: http://responsive-slides.viljamis.com/

  */


  ?>


  <script src="/{$WEBPATH}js/responsiveslides.min.js"></script>
  <script>
    $(window).load(function() {
    

      // Slideshow 1
      $("#slider1").responsiveSlides({
        
        speed: 800

      });

    });
  </script>
    <div id="herowrap" class="hidden-phone">
      <a href="#" id="toggle" class="map" title="Toggle Map">
        <div class="mapLink">Search the business map and use street view here</div>
        <div class="sliderLink">Back to slideshow.</div>
        <span class="corner"></span>
        <span class="googlepin"></span>
      </a>

      <div id="mapwrap" class="row-fluid">


      
        <div class="mapLeftCol span3">
          <div class="well ">
            
            <img src="" alt="" class="complogo">
            <h2 class="compname">Select a company pin</h2>
            <p class="comptype">Find a pin on the right to bring up the info</p>
            <!-- <p class="compdescr">The details will appear here.</p> -->
            <a href='#' class='moreButton findButton' id='compcat'>
              <i class="icon-search icon-white"></i> More like this</a>
            <a href='#' class='moreButton readButton' id='compdet'> Business Details  
              <i class="icon-chevron-right icon-white"></i></a>
          </div>
        </div>
        <div class="rightcol span9">
          <div id="map">
            
            {include file='snippets/widgets/heroMap.tpl' mapper=$allMerchants}

          </div>
        </div>

      </div>

      <div id="sliderwrap" class="row-fluid">
      <!-- Slideshow 1 -->
        <ul class="rslides span12" id="slider1">

          <li><img src="img/slideshow/frontpage/glasses.jpg" alt=""></li>
          <li><img src="img/slideshow/frontpage/hintons.jpg" alt=""></li>
          <li><img src="img/slideshow/frontpage/budgens.jpg" alt=""></li>
          <li><img src="img/slideshow/frontpage/cobblers.jpg" alt=""></li>
          <li><img src="img/slideshow/frontpage/tempanys.jpg" alt=""></li>
          <li><img src="img/slideshow/frontpage/prism2.jpg" alt=""></li>

        </ul>
      </div>

        
        
      

      
    
    </div> 