<h3 class="title nmb">Carousel</h3>
					 <div id="myCarousel" class="carousel slide home">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="img/products/sitemgr_photo_360.jpg" />
                                <div class="carousel-caption">									
                                    <h4>Save 30%</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                </div>
                            </div>
							<div class="item">
                                <img alt="" src="img/products/sitemgr_photo_2627.jpg" />
                                <div class="carousel-caption">
                                    <h4>Save 12%</h4>
                                    <p>Sed ut perspiciatis unde omnis iste.</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">Ü</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">Ý</a>
                    </div>