<h3 class="title nmb">RECENT REVIEWS</h3>
					<div class="reviews-item">
						<div>
							<a href="#" title="John"><img class="img" src="img/products/1_photo_1776.jpg" alt="" title=""></a>
						</div>
						<strong><a href="#">Ann Hotel</a></strong>
						<div class="rate">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
							<img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
							<img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
						</div>
						<a href="#">È Read More</a>
						<p>The staff are the best! The rooms were clean! The parking was great!I had a great stay there! Can't wait to come back!!</p>
						<div class="info">
							<p>by&nbsp;<a href="#" title="John">John</a>
							<br/>Arlington, VA, 08/05/2011 - 03:37 pm</p>
						</div>
					</div>
					<div class="reviews-item">
						<div>
							<a href="#" title="Mark"><img class="img" src="img/products/218_photo_1772.jpg" alt="" title=""></a>
						</div>
						<strong><a href="#">Mattew Law Firm</a></strong>
						<div class="rate">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
						</div>
						<a href="#">È Read More</a>
						<p>They were responsive, attentive and friendly while helping us.</p>
						<div class="info">
							<p>by&nbsp;<a href="#" title="Mark">Mark</a>
							<br/>Tulsa, Oklahoma, 06/16/2010 - 06:26 pm</p>
						</div>
					</div>
					<div class="reviews-item">
						<div class="item">
							<a href="#" title="Julia"><img class="img" src="img/products/9_photo_1778.jpg" alt="" title=""></a>
						</div>
						<strong><a href="#">Tayu</a></strong>
						<div class="rate">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOn.png" alt="Star On">
							<img src="img/products/img_rateMiniStarOff.png" alt="Star Off">
						</div>
						<a href="#">È Read More</a>
						<p>The best part of this restaurant was definitely the decor and the server. We had the agedashi tofu and it was THE BES...</p>
						<div class="info">
							<p>by&nbsp;<a href="#" title="Julia">Julia</a>
							<br/>Norwich, New York, 06/16/2010 - 06:19 pm</p>
						</div>
					</div>