<div class="span3 sideBar">

					
					
						{include file='snippets/widgets/browseByCategory.tpl' active=''}
					



				
					<!--<h3 class="title justTitle">
						<span class="titleText">Sponsored Businesses<span>

					</h3>
					
					 {foreach $stickies as $merchant}
									<div class="pull-left">
									
										<a href="/{$WEBPATH}business/detail/{$merchant->companyname|trim|replace:' ':'+'}">
										{if $merchant->image1}
											<img class="img" src="/{$WEBPATH}image/merchant_{$merchant->id|md5}_1/100/64/" alt="{$merchant->companyname}" title="{$merchant->companyname}">
										{else}
											<img class="img" src="/{$WEBPATH}image/placeholder/100/64/" alt="{$merchant->companyname}" title="{$merchant->companyname}">
										{/if}
										</a>
									</div>
										<a href="/{$WEBPATH}business/detail/{$merchant->companyname|trim|replace:' ':'+'}" class="catTitle">{$merchant->companyname}</a> <br/>
									
										{$merchant->summary|truncate:120:"...":true}
									<div class='clearfix'></div>
									<br/>
					{foreachelse}
						
					{/foreach} -->
					
					<div class='clearfix'></div>

					<h3 class="title justTitle hidden-phone">Quick Poll</h3>

					<form method="post" action="http://poll.pollcode.com/hrqhc"><table border="0" width="175" bgcolor="FFFFFF" cellspacing="2" cellpadding="0"><tr><td colspan="2"><font face="Arial" size="2" color="000000"><b>Do you feel welcome in Broadstone?</b></font></td></tr><tr><td width="5"><input type="radio" name="answer" value="1" id="hrqhcanswer1"></td><td><font face="Arial" size="2" color="000000"><label for="hrqhcanswer1">Completely</label></font></td></tr><tr><td width="5"><input type="radio" name="answer" value="2" id="hrqhcanswer2"></td><td><font face="Arial" size="2" color="000000"><label for="hrqhcanswer2">Sometimes</label></font></td></tr><tr><td width="5"><input type="radio" name="answer" value="3" id="hrqhcanswer3"></td><td><font face="Arial" size="2" color="000000"><label for="hrqhcanswer3">Undecided</label></font></td></tr><tr><td width="5"><input type="radio" name="answer" value="4" id="hrqhcanswer4"></td><td><font face="Arial" size="2" color="000000"><label for="hrqhcanswer4">Occasionally</label></font></td></tr><tr><td width="5"><input type="radio" name="answer" value="5" id="hrqhcanswer5"></td><td><font face="Arial" size="2" color="000000"><label for="hrqhcanswer5">Almost Never</label></font></td></tr><tr><td colspan=2><center><input type="submit" value=" Vote ">&nbsp;&nbsp;<input type="submit" name="view" value=" View "></center></td></tr><tr><td colspan=2 align=right><font face="Arial" size="1" color="000000">pollcode.com <a href="http://pollcode.com/"><font face="Arial" size="1" color="000000">free polls</font></a>&nbsp;</font></td></tr></table></form>


					

						<h3 class="title justTitle hidden-phone">Comments</h3>
						<div class="hidden-phone">
						{include file='snippets/widgets/comments.tpl' comment_ident="home"}
						</div>

					
					
				</div>