		<div class="container-fluid bannerTop" id="top-bar">
			<div class="row-fluid">
				<div class="span2 backGrad">
					<a class="brand pull-left" href="/{$WEBPATH}"></a>
				</div>

				<div class="span6 offset2 hidden-phone">
					<div class="ribbonTop"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>Welcome to Broadstone Village</h1></strong><div class="ribbon-stitches-bottom"></div></div> 

				</div>

				

			</div>
		</div>

		<div class="container-fluid searchWrap">
			<div class="row-fluid">
					




			{include file='snippets/widgets/searchBar.tpl' active='business'}

			</div>
		</div>