/* Loads less hat mixin library
----------------------------------*/
@import "../../css/lesshat.less"; 

#content-header{

	border-top-left-radius: 0px;
}

#header h1 {
    background: none; 
    height: 100px;
    left: 5px;
    overflow: hidden;
    position: relative;
    top: 5px;
    
    line-height:30px;

    span{

    	margin-left:10px;
    }

    a {
    color: #FFFFFF;
    display: block;
    font-size: 23px;
    font-weight: normal;
	}
    
}

#sidebar > ul > li > a {
    color: #F2F2F2;
}

#user-nav > ul > li > a > i, #sidebar li a i {

    opacity: 1;
    
}


.stat-boxes li, .quick-actions li, .quick-actions-horizontal li{

	border-radius:0px;
	padding:0px;
	border:0px;
}
.stat-boxes .right{

	padding:10px;
	box-shadow:0px 0px 3px #ABABAB;
	border:1px solid #fff;
	float:none;
	background:#fff;
}
a.statButton{

	background: none repeat scroll 0 0 #EBEBEB;
    display: block;
    padding: 7px;

	:hover{
		background-color:#FFF;
		.transition(all 0.3s ease-out); 
		.box-shadow(0px 0px 6px rgba(7, 70, 186, 0.61),0px 0px 10px #fff);
		
		//everything child below
		*{
			.transition(all 0.3s ease-out); 
		.box-shadow(0px 0px 0px);
		}
	}

}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header, .ui-dialog .ui-dialog-titlebar {
    
    .gradient(~"linear-gradient(center top , #FFFFFF 0%, #FFFFFF 100%)");
    
}
.widget-title h5{

    color: #595959;
    
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.51);

}
.widget-title .label {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #FFFFFF;
    float: right;
    margin: 7px 8px 0 0;
    padding: 4px 7px 5px;
}
.label-info, .badge-info {
    background-color: #CBCDCD;

    &.label-infoActive{

    	.box-shadow(0px 0px 3px #EDAF37);
    	background: none repeat scroll 0 0 #EDAF37;
    	border:1px solid rgba(255, 255, 255, 0.69);

    }
}

.addButton{

	background:#E3E3E3;
	padding:7px 10px;
	border:1px solid #fff;
	color:#777;
	.box-shadow(0px 0px 3px #ccc);
	.border-radius(0px);

	i{
		margin-right:5px;
		opacity:0.6;
	}

	&:hover{

		background:#B9F767;
    		.transition(all 0.3s ease-out); 
    		.box-shadow(0 0 7px #93FF00);


	}
}

.widget-title span.icon {
    background:#E0E0E0;
    opacity:1;

    //this swaps out the padding 
    &.iconCreate{

    	padding:0px !important;
    }

    a.tip-right{

    	background:#E6E6E6;
    	display:block;
    	padding: 9px 10px 7px 11px;

    	&:hover{

    		background:#D5FB9B;
    		.transition(all 0.3s ease-out); 
    		.box-shadow(0 0 7px #93FF00);

    		*{
    			background-image: url("../img/glyphicons-halflings.png");
    		}
    	}
    	

    	i{
		opacity:0.6;

    	}
	}
}
.friendlyIcon{

	opacity:0.5;
	margin-right:5px;
}
.label {
    border-radius: 0 8px 0 0;
}
#content{

	background: none repeat scroll 0 0 #FCFCFC;
}