{foreach $bus2business as $bus2bus}
							
					<div class="span2">
									<div class="item">
										<a href="/{$WEBPATH}business/detail/{$bus2bus->companyname|trim|replace:' ':'+'}">
										{if $bus2bus->image1}
											<img class="img" src="/{$WEBPATH}image/merchant_{$bus2bus->id|md5}_1/100/75/" alt="{$bus2bus->companyname}" title="{$bus2bus->companyname}">
										{else}
											<img class="img" src="/{$WEBPATH}image/placeholder/100/75/" alt="{$bus2bus->companyname}" title="{$bus2bus->companyname}">
										{/if}
										</a>
										<div class="clearfix"></div>
										<a href="/{$WEBPATH}business/detail/{$bus2bus->companyname|trim|replace:' ':'+'}" class="title">{$bus2bus->companyname}</a> 
									{*	<span class="label label-success">new</span> *}
										<!-- {assign var=category value=reset($bus2bus->categories)}
										<br/>in
										{foreach from=$bus2bus->categories item=category key=i name=twat}{if not $smarty.foreach.twat.last}, {/if} --> 
											<!-- <a href="/{$WEBPATH}business/category/{$category|trim|replace:' ':'+'}" class="subinfo">{$category|trim}</a> -->
										{/foreach}
										<p>{$bus2bus->keywords|truncate:80:"...":true}</p>
									</div>

					</div>
								
								
							{/foreach}