{foreach $bus2customers as $bus2cus}
							
						<div class="span2">
									<div class="item">
										<a href="/{$WEBPATH}business/detail/{$bus2cus->companyname|trim|replace:' ':'+'}">
										{if $bus2cus->image1}
											<img class="img" src="/{$WEBPATH}image/merchant_{$bus2cus->id|md5}_1/100/75/" alt="{$bus2cus->companyname}" title="{$bus2cus->companyname}">
										{else}
											<img class="img" src="/{$WEBPATH}image/placeholder/100/75/" alt="{$bus2cus->companyname}" title="{$bus2cus->companyname}">
										{/if}
										</a>

										<div class="clearfix"></div>
										<a href="/{$WEBPATH}business/detail/{$bus2cus->companyname|trim|replace:' ':'+'}" class="title">{$bus2cus->companyname}</a> 
									<!-- {*	<span class="label label-success">new</span> *}
										{assign var=category value=reset($bus2cus->categories)}
										<br/>in
										{foreach from=$bus2cus->categories item=category key=i name=twat}{if not $smarty.foreach.twat.last}, {/if} 
											<a href="/{$WEBPATH}business/category/{$category|trim|replace:' ':'+'}" class="subinfo">{$category|trim}</a>
										{/foreach} -->
										<p>{$bus2cus->keywords|truncate:80:"...":true}</p>
									</div>
							</div>
								
								
							{/foreach}