{foreach $leisureBusinesses as $leisureBusiness}
							
							<div class="span2">
									<div class="item">
										<a href="/{$WEBPATH}business/detail/{$leisureBusiness->companyname|trim|replace:' ':'+'}">
										{if $leisureBusiness->image1}
											<img class="img" src="/{$WEBPATH}image/merchant_{$leisureBusiness->id|md5}_1/100/75/" alt="{$leisureBusiness->companyname}" title="{$leisureBusiness->companyname}">
										{else}
											<img class="img" src="/{$WEBPATH}image/placeholder/100/75/" alt="{$leisureBusiness->companyname}" title="{$leisureBusiness->companyname}">
										{/if}
										</a>
										<div class="clearfix"></div>
										<a href="/{$WEBPATH}business/detail/{$leisureBusiness->companyname|trim|replace:' ':'+'}" class="title">{$leisureBusiness->companyname}</a> 
									<!-- {*	<span class="label label-success">new</span> *}
										{assign var=category value=reset($leisureBusiness->categories)}
										<br/>in
										{foreach from=$leisureBusiness->categories item=category key=i name=twat}{if not $smarty.foreach.twat.last}, {/if} 
											<a href="/{$WEBPATH}business/category/{$category|trim|replace:' ':'+'}" class="subinfo">{$category|trim}</a>
										{/foreach} -->
										<p>{$leisureBusiness->summary|truncate:80:"...":true}</p>
									</div>
							</div>
								
								
							{/foreach}