/* BASE LESS FILE */


/* Loads less hat mixin library
----------------------------------*/
@import "lesshat.less"; 

/* Icons
----------------------------------*/
@font-face {
  font-family: Sosa;
  src: url('icons/sosa-regular-webfont.eot');
  src: url('icons/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'), url('icons/sosa-regular-webfont.woff') format('woff'), url('icons/sosa-regular-webfont.ttf') format('truetype'), url('icons/sosa-regular-webfont.svg#SourceSansProExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Common
----------------------------------*/
@border:0px;

@siteColour:#F68C06;


/* Style overrides
----------------------------------*/
body { 

  background :#fff;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height: 25px;


}
// Can be removed on Launch
.modal-backdrop{

  background-color: #FFFFFF;
  opacity:0.95;

}

.emailButtons{

  margin:0 auto;
  margin-bottom: 20px;
  margin-left: 36%;
}

.boxShadow {
    background: radial-gradient(ellipse at center center , rgba(71, 71, 71, 0.26) 0%, rgba(101, 101, 101, 0) 68%) repeat scroll 0 0 transparent;
    bottom: -42px;
    height: 26px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.92;
}

.modal{


  .border-radius(0px);
   border: 3px double rgba(0, 170, 150, 0.52);
   .box-shadow(0 1px 4px rgba(0, 0, 0, 0.3));

   .modal-footer{

    #top-bar
   }


}

.heroBack{

  background:url("../img/worn_dots.png") repeat scroll 0 0 transparent;
  border-bottom:1px solid #CFCFCF;
  .box-shadow(0 0 3px #BCBCBC inset);
}



h1, h2, h3, h4{

 font-family: 'Open Sans', sans-serif;
 font-weight:lighter;

}
ul{

  margin-left:20px;
}
li{




}
.contact-information{

  li{

    list-style-type: none; 
    margin-bottom: 10px;
  }
}
.sosa {
    
    display: inline-block;
    font: 20px/20px Sosa;
    height: 20px;
    text-transform: none;
    width: 20px;

    &.squareIcon{

      font-size:33px;

      
      margin-right:15px;
      padding: 3px;
      color:#00B4AB;



    }

    &.fb{

      border:1px solid blue;
      color:blue;
      font-size:18px;
      text-align: center;
      padding: 3px;
      margin-left:6px;
      margin-right:9px;
    }
    &.twit{

      border:1px solid #00B7FF;
      color:#00B7FF;
      font-size:18px;
      text-align: center;
      padding: 3px;
      margin-left:6px;
      margin-right:9px;


    }
    &.web{

      color:orange;
    }
}
img.img{
  
  margin: 5px;
  border:0px none;
}

.product_listing .item a.title {
    color: #373737;
    font-size: 16px;
    font-weight: normal;

    &:hover {
    color: #1ECBA5;
    text-decoration: none;
    text-shadow: 0 0 3px #58F8B6;
    .transition(all 0.3s ease-out);
  }

}
.product_listing .item img{

  width:auto;
}

//top bar ribbon
#top-bar{


                      .ribbonTop {
                     width: 532px;
                     position: absolute;
                     text-align: center;
                     font-size: 24px!important;
                     background: #d64b4b;
                     .gradient(~"linear-gradient(top, #EF9C3D 0px, #E87020 100%)");
                     
                     .box-shadow(rgba(000,000,000,0.3) 0 1px 1px);
                     margin-top:10px;


                     }
                  .ribbonTop h1 {
                     color: #FEE8E8;
                      font-family: "ff-market-web";
                      font-size: 37px !important;
                      margin: 0;
                      padding: 6px 10px;
                      text-shadow: 0 1px 0 #BE703D;
                     }
                  .ribbonTop:before, .ribbonTop:after {
                     content: '';
                     position: absolute;
                     display: block;
                     bottom: -16px;
                     border: 30px solid #E1721E;
                     z-index: -1;
                     }
                  .ribbonTop:before {
                     left: -51px;
                     border-right-width: 1.5em;
                     border-left-color: transparent;
                     .box-shadow(rgba(000,000,000,0.4) 1px 1px 1px);
                     }
                  .ribbonTop:after {
                     right: -51px;
                     border-left-width: 1.5em;
                     border-right-color: transparent;
                     .box-shadow(rgba(000,000,000,0.4) -1px 1px 1px);
                     }
                  .ribbonTop .ribbon-content:before, .ribbonTop .ribbon-content:after {
                     border-color: #871616 transparent transparent transparent;
                     position: absolute;
                     display: block;
                     border-style: solid;
                     bottom: -16px;
                     content: '';
                     }
                  .ribbonTop .ribbon-content:before {
                     left: 0;
                     border-width: 16px 0 0 16px;
                     }
                  .ribbonTop .ribbon-content:after {
                     right: 0;
                     border-width: 16px 16px 0 0;
                     }
                  .ribbon-stitches-top { 
                     margin-top:4px;
                     border-top: 1px dashed rgba(0, 0, 0, 0.2);
                     -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                     -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                     box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
                     }
                  .ribbon-stitches-bottom {
                     margin-bottom:4px;
                     border-top: 1px dashed rgba(0, 0, 0, 0.2);
                     -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
                     -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
                     box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
                     }

}

//END top bar ribbon

#top-bar{

  background:url('../img/banner2.png')top right no-repeat #fff; 
  height: 104px;
  position:relative;
  z-index: 1;
  padding:0px;
}

.siteTag{

  font-size:18px;
  color:#777;
  display:none;
}

.main_content{

  border:0px;
  .border-radius(0px);
  background:url(../img/worn_dots.png);
  margin-top:20px;

  &.detail-back{

  background:#ffffff;
  

  }
}

.floatR{

  float:right !important;
}
.floatL{
  float:left !important;
}



  #map img {
    max-width: none!important;
  }

.searchWrap{

  border-top: 3px double #00B4AB;
  border-bottom: 3px double #00B4AB;

  .welcomeSearch{

      font-family: "ff-market-web";
      font-size: 23px;
    margin-bottom: 10px;
  }


}

.search_top_form {

  
  .border-radius(0px);
  
  background:transparent;
  .box-shadow(0px 0px 0px #ffffff);
  padding: 15px 10px 16px;
  position:relative;
  margin-bottom: 0px;
  border:0px none;
  z-index: 2;
  left: -3%;


  label, form, input, select, textarea, button{

      .border-radius(0px);
      font-size:16px;
      border:3px solid #00B4AB;
      margin-bottom:10px;
  }

  select{
    padding:3px;
    height: 34px;
  }

  .ribbon-wrapper{
  height: 104%;
    left: -13em;
    overflow: hidden;
    position: absolute;
    top: -4px;
    width: 238px;
}//search form

.ribbon{
    background-color: #00B4AB;
    border: 3px double;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font: 19px Sans-Serif;
    left: -31px;
    padding: 8px 21px 8px 7px;
    position: absolute;
    text-align: center;
    top: 18px;
    .rotate(-45deg);
    width: 19em;
}

.ribbon:before, .ribbon:after {
  
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}


  .moreButton{
 
      height: 34px;
      line-height: 34px;
      padding:0px 23px;
      font-size:16px;
    }



}

.searchBar{

  //background: url("http://localhost/bctc/BCTC/htdocs/css/../img/wave.gif") repeat scroll 0 0 padding-box #FFF2E6;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #FEFEFE; 
  margin-top:13px;
  margin-bottom:17px;
  padding:10px 0px; 
  

    .search_top_form{

      margin-bottom:0px;
    }

    .box-shadow(0px 0px 3px #777);

    .searchPrompt{

      font-size:16px;
      float:right; 
    }

    

}

.moreButton{

    .background-image(linear-gradient(center top , #F5F5F5, #F1F1F1));
    border: 1px solid rgba(0, 0, 0, 0.1);
    .border-radius(2px);
    color: #636363;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    min-width: 57px;
    padding:9px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;

      &.findButton{

    background:#00B4AB;
        border: 1px solid #02A098;
        color: #FFFFFF;
        text-shadow: 1px 0 1px rgba(122, 122, 122, 0.7);
        margin-top: -10px;
        margin-bottom: 0;

      }

      &.readButton{


        .background-image(linear-gradient(center top , #00B4AB, #00BCB3));
        color: #FFFFFF;
        text-shadow: 1px 0 1px rgba(122, 122, 122, 0.7);
        border:1px solid #02A79F;



      }





    }


a.toggles {
    background-color: black;
    top: 0;
    color: white;
    display: block;
    left: 0;
    padding: 10px 20px;
    position: absolute;
  }
.no-sidebar {
    margin-left:0 !important;
}

.navbar .nav {

}
.navbar{

  margin-bottom:0px;
  position: relative;
    z-index: 100;
}
//This is to activate the mobile side panel
#sideToggle{

  display:none;
  z-index: 101;
  position:fixed;
  top:0;

}
.item{

  

  .itemInfo{
    margin-left:10px;
  }
}
.other_info div.item
{
  border-bottom:none;
}

.other_info {

  a.webSiteLink {

  padding:7px 20px 7px 10px;
  border: 2px solid;
  color: #00B4AB;
  position: relative;
  margin-top:10px;
  display: block;

  &:hover{
    text-shadow:0px 0px 2px #00B4AB;
    box-shadow:0px 0px 2px #00B4AB; 
  }

  &.linkOrange{

    border-color: orange;
    color: orange;

  }

  &.linkOrange:hover{
    text-shadow:0px 0px 2px orange;
    box-shadow:0px 0px 2px orange; 
  }

    


        i{

          font-size:23px;
          position:absolute;
          right:5px;
          font-style: normal;
        }

    }
  }
.backGrad{
  


}
.brand{

  background:url('../img/bctc-logo-round_03.png') no-repeat;

  width:183px;
  height:196px;
  z-index: 102;
  margin-top:0px;

  h3{
  color:#373737;
  }

  .transition(all 1s ease);

  &:hover{

    
  }


}

.lead{


  padding: 10px;
  border-top:3px double ;



  &.text-center{

    text-align: center;


  }
}

h3.title{

   background:#ffffff;
    border-bottom: 3px double #00B4AB;
    border-top: 3px double #00B4AB;
    color: #565656;
    font-size: 1.6em;
    font-weight: 200;
    text-shadow: 1px 0 1px #FFFFFF;
    position:relative;
    z-index:10;


  &.justTitle{

    padding:8px;
    line-height: 23px;

  }

  &.dealTitle{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 3px double #FF9900;
    border-top: 3px double #FF9900;

    .CTAbutton{

      background: #F17903;
    }

  }

  &.artTitle{

    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 3px double #B400A1;
    border-top: 3px double #B400A1;


    .CTAbutton{

      background: #C4019C;
    }


  }

  &.bizTitle{

    background:;
  }

  &.classTitle{

    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 3px double rgba(2, 180, 0, 0.99);
    border-top: 3px double rgba(2, 180, 0, 0.99);


    .CTAbutton{

      background: none repeat scroll 0 0 #00B428;
    }
  
  }
  .titleText{

    margin-top:7px;
    margin-bottom: 7px;


  }
  




  a{

    color: #FFFFFF;
  
  }


  //light theme override for pagination
  .simplePagination {

    &.light-theme{

      padding:0px;

      a{
        .border-radius(0px);
      }



      .current{

        text-shadow:0px 0px 0px;
        .border-radius(0px);
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.09);
        border: 1px solid #FFFFFF;
        border-radius: 0 0 0 0;
        color: #363636;
        
      }
    }

      a{

      color:#464646;
      font-size:12px;
      text-shadow:0px;
      }

  }



}

//detail-product h3 ribbon

.detail-product h3{

  margin:20px -20px;
  overflow:visible;
  height:30px;
  position: relative;
  z-index:auto;


  &:before, &:after{

    content: '';
   position: absolute;
   display: block;
   bottom: -6px;
   border: 23px solid #CBF5F3;
   z-index: -1;

  }
  &:before{

  left: -28px;
   border-right-width: 23px;
   border-left-color: transparent;
   .box-shadow(rgba(000,000,000,0.4) 1px 1px 1px);
   
  }
  &:after{

    right: -28px;
   border-left-width: 23px;
   border-right-color: transparent;
   .box-shadow(rgba(000,000,000,0.4) -1px 1px 1px);

  }

  &.classTitle{

    &:before,&:after{

      border: 23px solid #D0F2CF;
    }

    &:before{
      border-left-color: transparent;
    }
    &:after{
      border-right-color: transparent;
    }

  }

  &.dealTitle{

    &:before,&:after{

      border: 23px solid #F6EDE0;
    }

    &:before{
      border-left-color: transparent;
    }
    &:after{
      border-right-color: transparent;
    }

  }

  &.artTitle{

    &:before,&:after{

      border: 23px solid #F6E0F6;
    }

    &:before{
      border-left-color: transparent;
    }
    &:after{
      border-right-color: transparent;
    }

  }

  .titleText{

    


  }

   

}
.detail-product .contact-information{

  margin-bottom: 20px;
    margin-top: 20px;
    padding: 13px;
  }







.navbar-inner{

  border:3px double #EBAE36;
}
.navbar-inner.main-menu{

  background:none;
}
.navbar,.navbar-inner{

  background-color: #FFFFFF;
}
#main-nav.nav{

  background:#FFFFFF;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{

  background:none;
  color:#989898;

}
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover
{

    
    color: #EBAE36;
    text-decoration: inherit;
    text-shadow: 0 0 10px #FFFFFF, 0 0 3px #FFFFFF, 0 0 1px #FFFFFF;

  .transition(all 0.3s ease-out); 
     
}

.navbar .nav > li > a {

  text-shadow:none;
}

.navbar-inner.main-menu {

  .search_top_form{

        margin-top:5px;
        margin-bottom:0px;


        .findButton{

          margin-top:-10px;
        }


        textarea,
        input[type="text"], 
        input[type="password"], 
        input[type="datetime"], 
        input[type="datetime-local"], 
        input[type="date"], 
        input[type="month"], 
        input[type="time"], 
        input[type="week"], 
        input[type="number"], 
        input[type="email"], 
        input[type="url"], 
        input[type="search"], 
        input[type="tel"], 
        input[type="color"], 
        .uneditable-input,
        select {

          border:1px solid #fff;
        }
    }

}


.navbar-inner.main-menu .nav a {
    font-family: 'Open Sans',arial,tahoma,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: inherit;
    color: #5F5F5F;
    text-shadow:0px;




    
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}


a.activeLetter {
    font-size: 23px;
    color: #00B4AB;
}
.alphabetSearch{

  color:#ccc;

}
.accordion-group{
  .border-radius(0px);
}
.sideBar{
  
  background:rgba(254, 254, 254, 0.36);
}

a:hover{

  color:#00B4AB;
  text-shadow: 0 0 10px #FFFFFF, 0 0 3px #FFFFFF, 0 0 1px #FFFFFF;
  .transition(all 0.3s ease-out);
}

#herowrap {
    background: url("../img/loading.gif") no-repeat scroll center 80px transparent;
    position: relative;
}

#toggle {
    color: #525252;
    cursor: pointer;
    font-weight: lighter;
    cursor: pointer;
    
    z-index: 100;
}

#toggle.map {

        .mapLink{
        text-align: center;
        width: 100%;
        display: block;
        padding:10px 0px;
        font-size:23px;
        z-index:3;
        background: #fff;
        content:"Search our business map and use street view here";
      }

      .corner{

        background: url("../img/cornericon.png") no-repeat scroll 0 0 transparent;
        height: 126px;
    position: absolute;
    right: -19px;
    text-indent: -9999em;
    top: 32px;
    width: 130px;
    z-index: 6;
      }

      .sliderLink{
        display: none;
      }

}

#toggle.slider {

  
  

  .sliderLink{

  background:orange;
  bottom:0px;
  top:auto;
  left:70px;
  position:absolute;
  content:"back to slideshow";
  padding: 10px;
  color:#fff;

  }
  .mapLink{

    display:none;
  }


}

#toggle .googlepin {
    background: url("../img/googlepin.png") no-repeat scroll center center transparent;
    height: 47px;
    position: absolute;
    right: 28px;
    top: 8px;
    width: 29px;
    z-index:9;
}

#toggle:hover .googlepin {
    background: url("../img/googlepinhover.png") no-repeat scroll center center transparent; 
}

#toggle.slider .googlepin{

  display: none;
}


/*Front panel*/

.compname{

  font-size:18px;
}

.comptype{

  font-style: italic;
}
.compdescr{

  margin-bottom:5px;

}

#compcat,#compdet{

  display:none;

  .transition-delay(250ms);
}

#compcat{

  margin-bottom:5px;
  margin-top:20px;
}
#map{

  h2{
    font-size:15px;

  }
}

/* Map CSS */

/* Mobile Slide */

#mobileSlide{


  h3{
    margin:0px;
  }




}

.accordion{

  background:#FFFFFF;

  .nav.nav-list > li > span{

    color: #00B4AB;
  }
  .accordion-group {

    border:0px none;
    margin-bottom:0px;


  }

  &.right-col{

    margin-top:0px;
  }

  &.right-col .accordion-heading{

    background:#ffffff;

      .accordion-toggle{

        padding: 4px;
        border-bottom: 1px solid #FFCF99;

        h3{

          font-weight:lighter;

          i{
            float:right;
            margin:10px;
          }

          
        }
      }

  }

  &.right-col .nav.nav-list > li > a{

    font-weight:normal;
    font-size:14px;

    
  }

  .accordion-inner{

    border-top:0px none;
  }

  

}



/* Map CSS */

#mapwrap {
  
  display: none;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  top: 0;
  padding:0px 7px;

  z-index: 100;

  .mapLeftCol{

    background:#fff;
    height:100%;
    .box-shadow(0px 0px 3px #000);
  }

  .well{

    background:#fff;
    border:0px;
    .border-radius(0px);
  }

  #map{

    border-top:0px none;
  }

  .mapHelp{

    position:absolute;
    top:0;
    left:0;

  }
}

#map {
    background:repeat scroll 0 0 transparent;
    height: 500px;
    width: 100%;
    border: 3px double #00B4AB;
}


/* RS Slider */

#sliderwrap {
background: white;
top: 0;
position: relative;
}

.rslides {
  margin: 0 auto;
  height: 400px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }


/* Callback example */

h3 {
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #000;
  }

.events {
  list-style: none;
  }

.calendar.fc {
    margin-top: 37px;
}

.fc-state-highlight {
    background:#FFE5CC !important;
}

.fc-widget-header, .fc-widget-content {
    border: 1px solid #FFD5AB !important;
}

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
}

  /*Home Page Content
  -------------------------------------------------*/

  .CTAbutton{

    background: none repeat scroll 0 0 #00B4AB;
    border-left: 4px double rgba(255, 255, 255, 0.33);

    min-width: 182px;
    padding: 7px 10px;
    text-shadow: none;

    i{

      margin-top:4px;
      float:right;
    }

    a{

      text-decoration: none;
    }



  }
/*General Page Content
  -------------------------------------------------*/

.detail-product h5{

  font-family: "ff-market-web";
  font-size: 23px;
  border-bottom: 1px solid #FFE4C2;
  padding-bottom:5px;
  margin-bottom:5px;
  
  font-weight: normal;

}

.bottomPageCount {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px double #FFD9AE;
    .box-shadow(0 1px 3px #000000);
    padding: 10px;
}


/*Business Page Content
  -------------------------------------------------*/
  
  .bizHigh{

    box-shadow:0px 0px 5px @siteColour,0px 0px 5px @siteColour,0px 0px 7px #fff !important;
    position:relative;
    
    
    &:before{

      position:absolute;
      width:100%;
      height:100%;

      content:'';
      top:-3px;
      left:-3px;
      border:3px double @siteColour;
      
    }
    
  }

  .detail-product h3.title {
    text-transform: inherit;
    .box-shadow(0 1px 0 #5C5C5C);

  }

  .listing-item.span2{
    
    .box-shadow(0px 0px 3px #000);

  }

.detail-product{

  border: 4px solid #FFF2D5;
  .box-shadow(0 0 3px #000000 inset, 0 0 3px #000000);
}

/*Deal Page Content
  -------------------------------------------------*/


.label-important, .badge-important {
    background-color: #F27A2B;
}

.label {
    .border-radius(0px);
    padding: 1px 4px 2px;
}
/*Deal Page Content
  -------------------------------------------------*/
.container-fluid.footer {

  background-color: #00B4AB;


}
.broadstoneMessage{

    font-family:"ff-market-web";
    font-size:23px;
    background: #fff;
    padding:10px;
    color:#00B4AB;
    line-height: 30px;
    text-align: center;

    span{
      font-family:'Open Sans',sans-serif;
      font-size:18px;
      color:#4d4d4d;
      font-weight: lighter;
    }

  }


.navbar .btn-navbar{

  .border-radius(0px);
  background:transparent !important;
  width:100%;
  padding-left:50%;
  border:0px none !important;
  height:auto !important;
  color:#EBAE36;
  text-shadow:0px 0px 0px transparent;

  &:hover{

    color: #EAC47A;

  }



  }

/*Media Queries Overrides
  -------------------------------------------------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {




#mobileSlide{

  display:none;
  position:absolute;
  top:0;
  z-index:100;
  background:#fff;
  width:51%;
  max-height:400px;
}

#sideToggle{

    display:block;
  }




}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px) {

/* Styles */

  #mobileSlide{

    display:none;
    position:absolute;
    z-index:100;
    top:0;
    background:#fff;
    width:51%;
    max-height:400px;
    overflow: hidden;
    overflow-y:scroll;

  }

  #sideToggle{

    display:block;
  }

  #top-bar{
    height:auto;
    background:#fff;
    padding: 0px
  }

  input, textarea, .uneditable-input {
    width: 92%;
  }

  select {

    width: 183px;
  }

  h3 .CTAbutton{

    margin-top: 15px;
    width:100%;

    
  }

  .footer{

    padding:10px;
  }
  h3.title{

    font-size:16px;
  }

  .moreButton.findButton {
    margin-top:0px;
    width: 183px;
  }

  .brand {
    margin-left: 14%;
    position:relative;
    margin-top:5px;

  }

  .navbar {
    
    position: relative;
    z-index: 100;
  }

  .navbar-inner{
    padding-left:0px;
  }


}

/* iPads (portrait and landscape) ----------- */
@media screen
and (min-width : 768px)
and (max-width : 1024px) {

  .brand{
    margin-top:-45px;
  }

  .search_top_form .ribbon-wrapper{
    display:none !important;
  } 



  
  .ribbonTop{

    display: none;

  }

  h3.title{

    font-size:1.5em;

    .simplePagination{

      display: none;
    }


  }

  .detail-product h3:before, .detail-product h3:after{

    display: none;
  }

  #main-nav.nav {
    background: none repeat scroll 0 0 transparent;

  }
  .navbar .nav > li > a {
      
      padding: 10px 8px;
      
  }
  .navbar-inner.main-menu .nav a {
    font-size: 14px;
  }
  .accordion {
    background: none repeat scroll 0 0 #FFFFFF;

    li {
    line-height: 30px;
    position: relative;
      }
  }
  .accordion.right-col .nav.nav-list > li > a {
    font-size: 12px;
  }
  .nav-list > li > a {
    
    margin-right: 0;
    margin-left: -18px;
    
  }
  .nav-list > li > a {
    padding: 3px 2px;
  }

  .accordion .nav.nav-list > li > span {
    color: #00B4AB;
    display: block;
    position: absolute;
    right: -12px;
    top: 2px;
  }
  .accordion.right-col .accordion-heading .accordion-toggle h3{

    font-size: 18px;
    font-weight: lighter;
    margin: 0;
    text-align: left;
  }

  .listing-item.span2 {   
    min-width: 93% !important;
  }

 .row-fluid .listing-item:first-child{

  margin-left:16px;
 }

 .searchWrap {
  
    .span5{width:100%;}
    .welcomeSearch{display: none;}
 }


 #mapwrap{

  margin-left:-27px;
 }

 .moreButton {

    font-size: 12px;
  }

 


/* Styles */
}

/* iPads (landscape) ----------- */
@media screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */

  .search_top_form .ribbon-wrapper{
    display:none !important;
  } 

  .brand {
    margin-top: -45px;
  }

  .tabletShift {

    .row-fluid .span2{

      width:47%;

    }
    .row-fluid [class*="span"]:first-child{

      margin-left:10px;
    }
  }

}

/* iPads (portrait) ----------- */
@media screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

  .tabletShift {

    .row-fluid .span2{

      width:45%;

    }
    .row-fluid [class*="span"]:first-child{

      margin-left:10px;
    }
  }

  .accordion.right-col .nav.nav-list > li > a {
    font-size: 11px;
  }
  .nav-list > li > a {
    
    margin-right: 0;
    margin-left: -13px;
    
  }
  .nav-list > li > a {
    padding: 3px px;
  }

  .accordion .nav.nav-list > li > span {
    display: none;
  }

  .accordion.right-col{

    width: 173px;
    margin-left: -12px;
  }
  /*Below Removes any dropdown and places items in menu*/
  .dropdown-menu > li {
    float: left;
  }

  .nav-collapse .dropdown-menu {
    
    position: relative;
  }

  .dropdown-toggle {
    display: none !important;
  }
  /*Above Removes any dropdown and places items in menu*/

  .brand {
    margin-top: -45px;
  }

  a.activeLetter {
    color: #00B4AB;
    font-size: 21px;
  }

  .navbar-inner.main-menu .nav a {
    

  }

  #main-nav.nav {
    background: none repeat scroll 0 0 #EBAE36;
    padding-left: 0;
    margin-top: 3px;
  }

  .search_top_form {
    
    padding: 34px 10px 16px;
  }


#toggle.slider .sliderLink {
    
    content: "slideshow";
    left: 0;
    
}
/* Styles */
}

/* Small monitors ----------- */
@media screen and (min-width : 800px) and (max-width : 1300px) {

  #main-nav.nav {
    background:transparent;

  }

  #top-bar .ribbonTop {

    h1{font-size: 34px !important;}
    width: 411px;
  }

  .searchWrap{

    .span5{
      width:56%;
    }
  }
  

/* Styles */
}


/* Desktops and laptops ----------- */
@media screen and (min-width : 1224px) {

  
/* Styles */
}

/* Large screens ----------- */
@media screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* End of media queries----------- */

/* --------------------- */
/* Animation ----------- */

#ribbon{

  
}


#ribbon.animate{

  animation-name: ribbon;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 3s;

  .animation(ribbon 1s ease-out 1 1.5s);

}

@keyframes ribbon{

  0%{

    top:-200px;
    

  }

  33%{

    top:-100px;
    display:none;


  }

  66%{

    top:30px;

  }

  100%{

    top:10px;
    
  }


}




/* Animation Ends----------- */







