/* =Typography
-----------------------------------------------------------------------------*/


.panelInner{

  
  a {
  	color: @colorLink;
  }
  a:hover {
  	color: darken(@colorLink, 20%);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  	font-weight: bold;
  	margin-bottom: 0.5em;	
  }
  h1 { 	
  	font-size: @h1 / @em; // headerSize / baseFontSize
  	line-height: 1em;
  }
  h2 { 
  	font-size: @h2 / @em;
  	line-height: 1.1em;
  }
  h3 { 
  	font-size: @h3 / @em;
  	line-height: 1.3em;
  }
  h4 { 	
  	font-size: @h4 / @em;
  	line-height: 1.3em;
  }
  h5 {
  	font-size: @h5 / @em;
  	line-height: 1.3em;
  }
  h6 {
  	font-size: @h6 / @em;
  	line-height: 1.3em;
  	text-transform: uppercase;	
  }
  hgroup h1, 
  hgroup h2, 
  hgroup h3, 
  hgroup h4 {
  	margin-bottom: .1em;
  }
  .subheader {
  	font-size: 1.2em;
  	font-weight: normal;
  	color: #8f8f8f;
  	margin-bottom: 1em;
  }
  p,
  ul,
  ol,
  dl,
  dd,
  dt,
  blockquote,
  td,
  th {
    line-height: @baseLine/@em;
  }
  ul, 
  ol, 
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0 0 0 @listsLeft;
  }
  ol ol li {
  	list-style-type: lower-alpha;
  }
  ol ol ol li {
  	list-style-type: lower-roman;
  }
  p,
  ul,
  ol,
  dl,
  blockquote,
  hr,
  pre,
  hgroup,
  table,
  form,
  fieldset {
    margin-bottom: @baseLine/@em;	
  }
  dl dt {
  	font-weight: bold;
  }
  dd {
  	margin-left: @listsLeft / 2;
  }
  blockquote {
  	margin-bottom: @baseLine/@em;
  	padding-left: @baseLine/@em;
  	border-left: 1px solid #ccc;
  	color: #666;
  }
  blockquote small, cite {
  	color: #888;
  	font-style: italic;	
  }
  blockquote p {
  	margin-bottom: 1em;
  	font-style: italic;
  }
  small,
  blockquote cite {
  	font-size: @smallFontSize;
  	line-height: 1;	
  }
  blockquote .pull-right, .row blockquote .pull-right {
  	float: none;
  	text-align: right;
  	display: block;
  }
  address {
  	font-style: italic;
  }
  del {
  	text-decoration: line-through;
  }
  abbr[title], 
  dfn[title] {
  	border-bottom: 1px dotted #000; 
  	cursor: help;
  }
  strong, 
  b {
  	font-weight: bold;
  }
  em, 
  i {
  	font-style: italic;
  }
  sub, 
  sup {
  	font-size: @superSmallFontSize; 
  	line-height: 0; 
  	position: relative;
  }
  sup {
  	top: -0.5em;
  }
  sub {
  	bottom: -0.25em;
  }
  figcaption {
  	font-size: @smallFontSize;
  	font-style: italic;
  }
  ins,
  mark {
  	background-color: @markBackgroundColor; 
  	color: @colorBlack; 
  	text-decoration: none;
  }
  pre, 
  code, 
  kbd, 
  samp {
  	font-size: 90%;
  	font-family: Menlo, Monaco, monospace, sans-serif;
  }
  pre {
  	background: @codeBackgroundColor;
  	border: 1px solid #ddd;
  	border-radius: 3px;
  	padding: @baseLine/@em;
  	white-space: pre;
  	overflow: auto;
  }
  code {
  	padding: 2px 3px;
  	display: inline-block;
  	line-height: 1;
  	background: @codeBackgroundColor;
  	border: 1px solid #ddd;
  }
  
  
  kbd {
  	padding: 0 6px;
  	border-radius: 4px;
  	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px white inset;
  	background-color: #fafafa;
  	border-color: #ccc #ccc white;
  	border-style: solid solid none;
  	border-width: 1px 1px medium;
  	color: #444;
  	font-weight: normal;
  	white-space: nowrap;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"], 
  textarea {
  	font-size: 13px;
  }
  fieldset {
  	padding: 2em @baseLine/@em;
  	margin-bottom: @baseLine/@em;
  	border: @fieldsetBorder;
  }
  legend {	
  	font-size: 1.2em;
  	text-transform: uppercase;
  	font-weight: bold;
  	padding: 0 1em;
  }
  tfoot th, tfoot td {
  	background-color: @tfootBackgroundColor;
  }
  th, td {
  	border-bottom: @cellBorder;
  	padding: ((@baseLine / 2) / @em) 0.5em;
  }
}