/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
  margin:0px; padding:0px;
  outline:none;
}
.markItUp a:link,
.markItUp a:visited {
  color:#000;
  text-decoration:none;
}
.markItUp  {
  width:700px;
  margin:5px 0 5px 0;
  border:5px solid #F5F5F5; 
}
.markItUpContainer  {
  border:1px solid #3C769D; 
  background:#FFF  repeat-x top left;
  padding:5px 5px 2px 5px;
  font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
  font:12px 'Courier New', Courier, monospace;
  padding:5px 5px 5px 5px;
  border:3px solid #3C769D;
  width:643px;
  height:320px;
 
  background-repeat:no-repeat;
  clear:both; display:block;
  line-height:18px;
  overflow:auto;
}

TEXTAREA.markItUpEditor  {
  width:97%!important;
}
.markItUpPreviewFrame {
  overflow:auto;
  background-color:#FFFFFF;
  border:1px solid #3C769D;
  width:99.9%;
  height:350px;
  margin:5px 0;
}
.markItUpFooter {
  width:100%;
  cursor:n-resize;
}
.markItUpResizeHandle {
  overflow:hidden;
  width:22px; height:5px;
  margin-left:auto;
  margin-right:auto;

  cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
  list-style:none;
  float:left;
  position:relative;
}
.markItUpHeader ul li ul{
  display:none;
}
.markItUpHeader ul li:hover > ul{
  display:block;
}
.markItUpHeader ul .markItUpDropMenu {
  background:transparent url(images/menu.png) no-repeat 115% 50%;
  margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
  margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
  margin:0 10px;
  width:1px;
  height:16px;
  overflow:hidden;
  background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
  width:auto; height:1px;
  margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
  display:none;
  position:absolute;
  top:18px; left:0px; 
  background:#F5F5F5;
  border:1px solid #3C769D;

  height:inherit;
  padding:0;
}
.markItUpHeader ul ul li {
  float:none;
  border:none;
  border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
  background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
  position:absolute;
  top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
  float:none;
}
.markItUpHeader ul a {
  display:block;
  width:16px; height:16px;
  text-indent:-10000px;
  background-repeat:no-repeat;
  padding:3px;
  margin:0px;
}
.markItUpHeader ul ul a {
  display:block;
  padding-left:0px;
  text-indent:0;
  width:120px; 
  padding:5px 5px 5px 25px;
  background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
  color:#FFF;
  background-color:#3C769D;
}
/***************************************************************************************/


/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/h6.png); 
}

.markItUp .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markItUp .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton14 a	{
	background-image:url(images/code.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}